log
build
install
log
build
install
.ropeproject
.vscode
temp
/temp
__pycache__
temp
*.weights
*.t7
__pycache__
.venv
.direnv
.pixi
*.egg-info
src/face_recog/face_recog/dataset/
src/face_recog/face_recog/dataset.tar
# pixi environments
.pixi
*.egg-info